@page "/"
@page "/index"
@inject Irepository repository

<div>
    <h1> Movie</h1>
    <MoviesList Movies="movies" />
</div>


@code {
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = repository.GetMovies();
    }

}