@page "/"
@inject SingletonService singleton

<div>
    <h3> Movie</h3>
    <MoviesList Movies="movies" />
</div>

<p>Singleton count: @singleton.Value</p>

<button @onclick="AddNewMovie"> Add new movie </button>
@code {
    private List<Movie> movies;
    private Dictionary<string, object> dummyTextboxParameters = new Dictionary<string, object>() {
                                                                     { "placeholder", "new movie name 2"},
                                                                      { "disabled", "true"}
                                                                     };

    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie() { Title = "spiderman: far from home", ReleaseDate = new DateTime(2019, 7, 2) },
            new Movie() { Title = "moana", ReleaseDate = new DateTime(2016, 11, 23) },
            new Movie() {Title = "inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };
    }
    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
    }
}



@*  protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000); *@